/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 */

 @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

 .calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    height: 100vh;
    width: 100vw;
    background-color: #EFE1D1;
    font-size: 15px;
}

.nav-link{
    color: #331D2C;

}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    background-color: #EFE1D1;
}

footer{
    background-color: #141414;
    display: block;
}

#contenedorFooter{
    display: flex;
    justify-content: center;
}



#footer-container { 
    background-color: #141414;
    width: 100%;
}


#container-inicio{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container-inicio h1{
    display: flex;
    justify-content: center;
    align-self: center
}

.color1{
    background-color: #331D2C;
}
.color2{
    background-color: #A78295;
}
.color3{
    background-color: #EFE1D1;
}
.color4{
    background-color: #3F2E3E;
}

.font1{
    font-size: 2rem;
    color: #EFE1D1;
}

.nav-link {
   padding-right: 2rem;
}

li:hover:after {
    opacity: 1;
    }
    


.nav-item a:hover, .nav-item a.active {
    background-color: #331D2C;
    color: #EFE1D1;
    border-radius: 25px;
    padding: auto;
    text-decoration: none;
    font-weight: 600;

}  

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(239,225,209,1) 0%, rgba(167,130,149,1) 45%, rgba(20,20,20,1) 74%);
}

#title{
    position: fixed;
    font-size: 8em;
    color: #EFE1D1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#title2{
    position: relative;
    font-size: 2em;
    color: #A78295;
}

.font-title{
    font-family: calistoga;
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec2{
    background-color: #141414;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.contenedorPrincipal{
    width: 40vw;
}

.contenedorPrincipal p{
    color: #EFE1D1;
}

.sec3{
    display: flex;
    justify-content: center;
}

.contenedorImg{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.contenedorImg img {
    width: 200px;
    height: 600px;
    object-fit: cover;
    border-radius: 150px;
    
  }

 .articulos{
    display: flex;
    justify-content: space-around;
    align-content: center;
 }


 #frase{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    align-items: center;
 }

 #ondaOscura{
    background: url(/img/Ondaoscura.png) ;
    min-height: 100%;
    background-repeat: no-repeat;
    margin-top: -120px;
    background-position: center top;
    background-size: 100% 1200px;
    
 }

 .contenedorClaro{
    background: url(/img/Ondaclara.png) ;
    min-height: 100%;
    width: 100%;
    margin-top: -900px;
    background-repeat: no-repeat;
    background-position:right bottom;

  
 }

 #ondaClara{
    /* position: absolute; */

    object-fit: cover;
    margin-bottom: 10rem;
    padding-bottom: 0%;
    padding: 0%;
    margin-right: 12rem;
    
    


 }

#onda{
    transform: rotate(180deg);
}

.contenedor{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: flex-start;
    
    
}

#cartaNatal{
    background-color: #3F2E3E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#contacto{
text-align: center;
margin-top: 12rem;
}

#redes{
    margin-top: 10rem;
    background-color: #331D2C;
    width: 100%;
}

a.button {
    padding: 0.5rem 0.6rem;
    border: 1px outset buttonborder;
    border-radius: 10px;
    color: #EFE1D1;
    font-weight: 600;
    font-size: 1rem;
    background-color: #A78295;
    text-decoration: none;

}

.sec4 .animate{
    transform: translateX(-100%);
    transition: 1s;
} 
.sec4.show-animate h4{
    transform: translateX(0);
    transition: 1s;
} 

div .animate{
    transition: 1s;
}

#blog h2{
    text-align: center;
}
