body{
    height: 100vh;
    width: 100vw;
    background-color: #F2E6D6;
}

.navbar{
    text-align: right;
}

#footer-container { 
    background-color: #141414;
    width: 100%;
    position: absolute;
    height: 20%;
}


#container-inicio{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container-inicio h1{
    display: flex;
    justify-content: center;
    align-self: center
}