/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 */

 @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

 .calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    height: 100vh;
    width: 100vw;
    background-color: #EFE1D1;
    font-size: 15px;
    margin: 0;
    padding: 0%;
    justify-content: center;
}

a:hover{
    color: #3F2E3E;
}

.nav-link{
    color: #331D2C;

}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    background-color: #EFE1D1;
}

footer{
    background-color: #141414;
    display: block;
}

#contenedorFooter{
    display: flex;
    justify-content: center;
}



#footer-container { 
    background-color: #141414;
    width: 100%;
}


#container-inicio{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container-inicio h1{
    display: flex;
    justify-content: center;
    align-self: center
}

.color1{
    color: #331D2C;
}
.color2{
    color: #A78295;
}
.color3{
    color: #EFE1D1;
}
.color4{
    color: #3F2E3E;
}

.font1{
    font-size: 2rem;
}

.font1{
    font-size: 5rem;
}


.nav-link {
   padding-right: 2rem;
}

li:hover:after {
    opacity: 1;
    }
    


.nav-item a:hover, .nav-item a.active {
    background-color: #331D2C;
    color: #EFE1D1;
    border-radius: 25px;
    padding: auto;
    text-decoration: none;
    font-weight: 600;

}  

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(239,225,209,1) 0%, rgba(167,130,149,1) 45%, rgba(20,20,20,1) 74%);
}

#contenedor-parallax{
    width: 100%;
    height: 100%;
}

#title{
    position: fixed;
    font-size: 8em;
    color: #EFE1D1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#title2{
    position: relative;
    font-size: 2em;
    color: #A78295;
}

.font-title{
    font-family: calistoga;
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.sec2{
    background-color: #141414;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

.contenedorPrincipal{
    /* width: 40vw; */
}

.contenedorPrincipal p{
    color: #EFE1D1;
}

.sec3{
    display: flexbox;
    justify-content: center;
}

.contenedorImg{
    /* width: 40vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.contenedorImg img {
    width: 200px;
    height: 600px;
    object-fit: cover;
    border-radius: 150px;
    
  }

 .articulos{
    display: flex;
    justify-content: space-around;
    align-content: center;
 }


 #frase{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    align-items: center;
 }

 #ondaOscura{
    background: url(/img/Ondaoscura.png) ;
    min-height: 100%;
    background-repeat: no-repeat;
    margin-top: -120px;
    margin-bottom: 0;
    width: 100%;
    background-position: center top;
    background-size: 100% 1200px;
    
 }

 .contenedorClaro{
    background: url(/img/Ondaclara.png) ;
    min-height: 100%;
    margin-top: -900px;
    background-repeat: no-repeat;
    background-position:right bottom;
    margin-bottom: -2px;

  
 }

 #ondaClara{
    /* position: absolute; */

    object-fit: cover;
    margin-bottom: 10rem;
    padding-bottom: 0%;
    padding: 0%;
    
    
    


 }

#onda{
    transform: rotate(180deg);
}

.contenedor{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: flex-start;
    
    
}

#cartaNatal{
    background-color: #3F2E3E;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#cartaNatal .row{
    padding-top: 0%;
}
#contacto{
text-align: center;
margin-top: 12rem;

}

#redes{
    padding-top: 10rem;
    background-color: #331D2C;
    width: 100%;
    color: #EFE1D1;
    
}

#redes ul, #redes h2{
    display: flex;
    justify-content: center;
    
}

a.button {
    padding: 0.5rem 0.6rem;
    border: 1px outset buttonborder;
    border-radius: 10px;
    color: #EFE1D1;
    font-weight: 600;
    font-size: 1rem;
    background-color: #A78295;
    text-decoration: none;

}

.sec4 .animate{
    transform: translateX(-100%);
    transition: 1s;
} 
.sec4.show-animate h4{
    transform: translateX(0);
    transition: 1s;
} 

div .animate{
    transition: 1s;
}

#blog h2{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.card-blog {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card-blog:hover {
    box-shadow: 0 8px 16px 0 #3F2E3E;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

#redes{
    margin-top: 4rem;
    padding-top: 3rem;
}
#redes h2{
 text-align: center;
 color: #EFE1D1;
}

.fa-brands:hover{
    opacity: 0.5;
    font-size: 2rem;
}

.fa-brands{
    color: #EFE1D1;
    padding: 1rem;
    font-size: 1.5rem;
}

.footer-item .nav-item a, #footer-container{
    color: #EFE1D1;
}


.form-control{
    background-color: #EFE1D1;
    border-color: #A78295;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

#servicios{
    display: flex;
    justify-content: center;
}



#servicios img {
    border-radius: 50%;
     height: 200px;
     width: 200px;
  }
  
  #imgSec5{
    background-color: #141414;
    height: 100%;
   
  }


  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#A78295; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


  .btn{
    background-color: #3F2E3E;
    color: #EFE1D1;
    border-radius: 25px;
  }
  .btn:hover {
    opacity: 50%;
  }


  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #EFE1D1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #A78295;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #331D2C;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding-top: 1rem;
  }

  #serv{
    display: block;
    justify-content: center;
  }

  #serv #contenedor-serv{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }

  #serv #title-serv{
    justify-content: center;
    text-align: center;
  }